/* styles.css */

body {
    font-family: Arial, sans-serif;
     background-size: cover;
    margin: 0;
    padding: 0;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/b/b2/225W_Tesla_coil_-_arcs_%28cropped%29.jpg');
  }
  
  #main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  #title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: azure;
  }
  
  #img-div {
    text-align: center;
    margin-bottom: 20px;
  }
  
  #image {
    max-width: 100%;
    height: auto;
  }
  
  #img-caption {
    text-align: center;
    font-style: italic;
  }
  
  #tribute-info {
    margin-bottom: 20px;
    color: azure;
  }
  
  #tribute-link {
    display: block;
    text-align: center;
    font-weight: bold;
    color: steelblue;
  }
  
  #tribute-link:hover {
    text-decoration: underline;
    color: violet;
  }
  